Application Programming Interface-API provide a standardized way for two applications to communicate

API allows you to execute code ona server without getting direct access

Before APIs there was webscraping (Downloading HTML directly froma web and then parsing the results programmatically)

You could have used:
1. Beautiful soup 
2. wget

#Using API
You access APIs via the web using a web address. within the web address, specify the data that you want.
Some APIs require that you send login credentials as part of your request.

In [15]:
import requests
import pandas as pd
import matplotlib.pyplot as plt

url = "http://api.worldbank.org/v2/countries/br;cn;us;de/indicators/SP.POP.TOTL/?format=json&per_page=1000%27"
r = requests.get(url)
r.json()

[{'message': [{'id': '120',
    'key': 'Invalid value',
    'value': 'The provided parameter value is not valid'}]}]

Importing worldbank data python package

In [13]:
import world_bank_data as wb
pd.set_option('display.max_rows', 6)

Get the list of topics,

In [14]:
wb.get_topics()

,value,sourceNote
id,,
1,Agriculture & Rural Development,For the 70 percent of the world's poor who liv...
2,Aid Effectiveness,Aid effectiveness is the impact that aid has i...
3,Economy & Growth,Economic growth is central to economic develop...
...,...,...
19,Climate Change,Climate change is expected to hit developing c...
20,External Debt,Debt statistics provide a detailed picture of ...
21,Trade,Trade is a key means to fight poverty and achi...

Get the list of sources

In [5]:
wb.get_sources()

,lastupdated,name,code,description,url,dataavailability,metadataavailability,concepts
id,,,,,,,,
1,2021-08-18,Doing Business,DBS,,,Y,Y,3
2,2022-12-22,World Development Indicators,WDI,,,Y,Y,3
3,2022-09-23,Worldwide Governance Indicators,WGI,,,Y,Y,3
...,...,...,...,...,...,...,...,...
87,2022-10-07,Country Climate and Development Report (CCDR),CCD,,,Y,Y,3
88,2022-07-05,Food Prices for Nutrition,FPN,,,Y,Y,4
89,2022-12-21,Identification for Development (ID4D) Data,ID4,,,Y,Y,3

getting the list of countries

In [6]:
wb.get_countries()

,iso2Code,name,region,adminregion,incomeLevel,lendingType,capitalCity,longitude,latitude
id,,,,,,,,,
ABW,AW,Aruba,Latin America & Caribbean,,High income,Not classified,Oranjestad,-70.0167,12.5167
AFE,ZH,Africa Eastern and Southern,Aggregates,,Aggregates,Aggregates,,NaN,NaN
AFG,AF,Afghanistan,South Asia,South Asia,Low income,IDA,Kabul,69.1761,34.5228
...,...,...,...,...,...,...,...,...,...
ZAF,ZA,South Africa,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Upper middle income,IBRD,Pretoria,28.1871,-25.7460
ZMB,ZM,Zambia,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Low income,IDA,Lusaka,28.2937,-15.3982
ZWE,ZW,Zimbabwe,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312

In [7]:
wb.get_incomelevels()

    iso2code                value
id
HIC       XD          High income
INX       XY       Not classified
LIC       XM           Low income
..       ...                  ...
LMY       XO  Low & middle income
MIC       XP        Middle income
UMC       XT  Upper middle income

[7 rows x 2 columns]

In [8]:
wb.get_indicators(topic=3, source=2)

,name,unit,source,sourceNote,sourceOrganization,topics
id,,,,,,
BG.GSR.NFSV.GD.ZS,Trade in services (% of GDP),,World Development Indicators,Trade in services is the sum of service export...,"International Monetary Fund, Balance of Paymen...","Economy & Growth,Private Sector,Trade"
BM.GSR.CMCP.ZS,"Communications, computer, etc. (% of service i...",,World Development Indicators,"Communications, computer, information, and oth...","International Monetary Fund, Balance of Paymen...","Economy & Growth,Trade"
BM.GSR.FCTY.CD,"Primary income payments (BoP, current US$)",,World Development Indicators,Primary income payments refer to employee comp...,"International Monetary Fund, Balance of Paymen...",Economy & Growth
...,...,...,...,...,...,...
PA.NUS.PPP,"PPP conversion factor, GDP (LCU per internatio...",,World Development Indicators,Purchasing power parity (PPP) conversion facto...,"International Comparison Program, World Bank |...",Economy & Growth
PA.NUS.PPPC.RF,Price level ratio of PPP conversion factor (GD...,,World Development Indicators,Price level ratio is the ratio of a purchasing...,"International Comparison Program, World Bank |...",Economy & Growth
PA.NUS.PRVT.PP,"PPP conversion factor, private consumption (LC...",,World Development Indicators,Purchasing power parity (PPP) conversion facto...,"International Comparison Program, World Bank |...",Economy & Growth

In [9]:
wb.search_indicators('Kenya')

Empty DataFrame
Columns: [name, unit, source, sourceNote, sourceOrganization, topics]
Index: []

In [10]:
wb.get_series('SP.POP.TOTL', mrv=1)

Country                      Series             Year
Africa Eastern and Southern  Population, total  2021    702976832.0
Africa Western and Central   Population, total  2021    478185907.0
Arab World                   Population, total  2021    456520777.0
                                                           ...
Yemen, Rep.                  Population, total  2021     32981641.0
Zambia                       Population, total  2021     19473125.0
Zimbabwe                     Population, total  2021     15993524.0
Name: SP.POP.TOTL, Length: 266, dtype: float64

In [11]:
wb.get_series('SP.POP.TOTL', date='2016',
              id_or_value='id', simplify_index=True)

Country
AFE    616377331.0
AFW    419778384.0
ARB    415077960.0
          ...
YEM     29274002.0
ZMB     16767761.0
ZWE     14452704.0
Name: SP.POP.TOTL, Length: 266, dtype: float64